@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
html, body {
  height: 100%;
  background-color: lightseagreen;
  margin: 0;
  padding: 0;
}

nav {
  height: 100%;
  width: 200px;
  transform: skewX(15deg) translate(45px);
  padding-top: 60px;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  background-color: paleturquoise;
  position: absolute;
}
nav:before {
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  content: "<";
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 140px;
  color: #F2B6D8;
  font-size: 40px;
}
nav div {
  -moz-transform: skewX(-12deg);
  -o-transform: skewX(-12deg);
  -ms-transform: skewX(-12deg);
  -webkit-transform: skewX(-12deg);
  transform: skewX(-12deg);
}
nav div a {
  display: block;
  text-align: center;
  padding: 15px;
  width: 230px;
  margin-left: -50px;
  text-align: center;
  text-decoration: none;
  color: #A36D8C;
  font-size: 25px;
  font-family: 'Indie Flower', sans-serif, verdana;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
nav div a.acc {
  margin-left: -60px;
}
nav div a.projet {
  margin-left: -32px;
}
nav div a.port {
  margin-left: -20px;
}
nav div a.contact {
  margin-left: -5px;
}

.hover:hover {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: lightseagreen;
  color: #F2B6D8;
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
}

.close {
  margin-left: -160px;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}
.close div a {
  cursor: default;
  pointer-events: none;
}
.close:before {
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  content: ">";
  line-height: 50px;
  text-align: center;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 150px;
  color: #F2B6D8;
  font-size: 40px;
}

h2 {
  width: 960px;
  text-align: center;
  margin: auto;
  padding-top: 20%;
  font-family: 'Indie Flower', sans-serif, verdana;
  font-size: 40px;
  color: #F2B6D8;
}
